---
---

@import "{{ site.theme }}";

body {
    font: 110%/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6em;
}

.nav ul {
    list-style: none;
    background-color: #373737;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.nav li {
    font-family: 'Oswald', sans-serif;
    line-height: 20px;
    height: 20px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .2s background-color;
}

.nav a:hover {
    background-color: rgba(29, 128, 194, 0.3);
}

.nav a.active {
    background-color: rgb(29, 128, 194);
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        padding: 0 0.5em 0 0.5em;
        border-bottom: none;
        height: 30px;
        line-height: 30px;
        font-size: 1em;
        display: inline-block;
        margin-right: -4px;
    }

    .nav li a {
        padding: 0 0.75em 0 0.75em;
    }

}

section {
    margin-top: 10px;
}

section #title {
    margin-bottom: 0px;
}

.credits {
    display: none !important;
}

.wrapper, section {
    max-width: 1200px;
}


img[alt="pianoroll"] {
	margin: 0 auto;
    display: block;
    max-width: 90%;
}

img[alt="scaled"] {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

@media screen and (min-width: 800px) {
    img[alt="floating"] {
        float: right;
        padding-left: 2em;
        padding-bottom: 1em;
    }
    img[alt="inline"] {
        max-width: calc(100% - 400px);
    }
}
@media screen and (max-width: 799px) {
    img[alt="floating"] {
        display: block;
        margin: 0 auto;
    }
}

h1 a {
    color: #e8e8e8;
}


h1:nth-of-type(1), h2:nth-of-type(1) {
	padding-top: 0;
}

h1, h2 {
    padding-top: 1.5em;
}

h3 {
    padding-top: 1em;
}

h4 {
    padding-top: 0.5em;
}

h2 ~ h1, h1 ~ h2 {
    padding-top: 1.5em !important;
}

h1 + h2, h2 + h3, h3 + h4 {
    padding-top: 0 !important;
}


.highlight {
    line-height: 1.2;
}

.language-go .highlight .c {
    color: #a2cba6;
    font-weight: bold;
}


p.warning {
	color: #ffbd7c;
	border-left: 4px solid #ff9000;
	padding-left: 10px;
	font-style: normal !important;
}

li ul, li ol {
    margin-bottom: 0 !important;
}

code.highlighter-rouge {
    padding: 0;
    margin: 0;
}

td {
    vertical-align: top;
}

summary {
    display: list-item;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 20px;
    font-weight: bold;
    color: white;
}

.articon {
    width: 32px;
    height: 28px;
    background-image: url(../../img/articulations.png);
    //transform: scale(1.3);
}